.navbar-custom {
    font-family: Brandon;
}
.navbar-custom a {
    color: #fff;
    font-size: 20px;
}
.navbar-custom li:hover {
    background-color: none;
}
.navbar-custom a:hover {
    color: #fc6500;
}
.navbar-custom .navbar-toggle,
.navbar-custom .icon-bar {
    border: 1px solid #ff3300;
}
.home-screen {
    background-image: url("../images/Market.png");
    position: relative;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.tint {
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
.home-text {
    color: #fff;
    font-size: 150px;
    text-align: center;
    font-family: Brandon;
    margin-bottom: -20px;
}
.slogan {
    color: #fff;
    font-size: 50px;
    text-align: center;
    font-family: Brandon;
    font-weight: bold;
}
.theater {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}
.stage {
    vertical-align: middle;
    display: table-cell;
}
@font-face {
    font-family: BigJohn;
    src: url(../fonts/BigJohn.ttf);
}
@font-face {
    font-family: Bellaboo;
    src: url(../fonts/Bellaboo.ttf);
}
@font-face {
    font-family: Dinlight;
    src: url(../fonts/Dinlight.ttf);
}
@font-face {
    font-family: Brandon;
    src: url(../fonts/Brandon.ttf);
}
