.navbar-custom {
    font-family: Brandon;
}
.navbar-custom a {
    color: #fff;
    font-size: 16px;
}
.navbar-custom .nav li a:active,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover {
    background-color: transparent;
}
.navbar-custom a:hover {
    color: #FC6500;
}
.navbar-custom .navbar-toggle,
.navbar-custom .icon-bar {
    border: 1px solid #FC6500;
}
.navbar-custom .nav li a {
    padding-top: 30px;
    padding-bottom: 30px;
}
.navbar-custom .nav li.button-align a {
    padding-top: 21px;
    padding-bottom: 21px;
}
.button {
    background-color: transparent;
    border: 1px solid #FC6500;
    font-size: 17px;
}
.contact-submit {
    font-family: Brandon;
}
.navbar-custom .nav li button:active,
.navbar-custom .nav li button:hover,
.navbar-custom .nav li button:focus {
    background-color: #FC6500;
    border: 1px solid #FC6500;
    outline-color: #FC6500;
}
.home-screen {
    background-image: url("../images/Market.jpg");
    position: relative;
    height: 670px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.tint {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
.home-text {
    color: #fff;
    font-size: 150px;
    text-align: center;
    font-family: Brandon;
    margin-bottom: -20px;
}
.slogan {
    color: #fff;
    font-size: 50px;
    text-align: center;
    font-family: Brandon;
    /*font-weight: bold;*/
}
/*.shop {
    font-family: Brandon;
    text-align: center;
}*/
.theater {
    display: table;
    height: 453px;
    width: 100%;
    text-align: center;
    position: relative;
}
.stage {
    vertical-align: middle;
    display: table-cell;
}
.background-blue {
    background-color: #80CFFA;
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact {
    font-size: 55px;
    font-family: Brandon;
    font-weight: bold;
}
.comments {
    width: 274px;
    font-family: Brandon;
}
.info {
    font-size: 20px;
    font-family: Brandon;
    padding-top: 5px;
    padding-bottom:25px;
    color: #000;
}
.login {
    font-size: 20px;
    font-family: Brandon;
    color: #FC6500;
}
.custom {
    background-color: transparent;
    border: 1px solid #FC6500;
    font-size: 17px;
    color: #000;
}
/*.modal:active,
.modal:hover,
.modal:focus {
    background-color: #FC6500;
    border: 1px solid #FC6500;
    outline-color: #FC6500;*/
}
.modal-backdrop{
  opacity: 0; transition:opacity .2s;
}
.modal-backdrop.in{
  opacity: 0.7;
}
@font-face {
    font-family: BigJohn;
    src: url(../fonts/BigJohn.ttf);
}
@font-face {
    font-family: Bellaboo;
    src: url(../fonts/Bellaboo.ttf);
}
@font-face {
    font-family: Dinlight;
    src: url(../fonts/Dinlight.ttf);
}
@font-face {
    font-family: Brandon;
    src: url(../fonts/Brandon.ttf);
}
