.navbar-custom {
    font-family: Brandon;
}
.navbar-custom a {
    color: #fff;
    font-size: 16px;
}
.navbar-custom .nav li a:active,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:hover {
    background-color: transparent;
}
.navbar-custom a:hover {
    color: #FF5400;
}
.navbar-custom .navbar-toggle,
.navbar-custom .icon-bar {
    border: 1px solid #FF5400;
}
.navbar-custom .nav li a {
    padding-top: 20px;
    padding-bottom: 20px;
}
.navbar-custom .nav li.button-align a {
    padding-top: 12px;
    padding-bottom: 8px;
}
.button {
    background-color: transparent;
    border: 1px solid #FF5400;
    font-size: 17px;
    font-family: Brandon;
}
.button1 {
    background-color: #FF5400;
    border-color: #FF5400;
    font-size: 30px;
    margin-top: 30px;
    font-family: Brandon;
}

.button1:hover,
.button1:active,
.button1:focus {
    background-color: #e65c00;
    outline-color:  #e65c00;
    border: 1px solid #e65c00;
}

.contact-submit {
    font-family: Brandon;
}
.button:hover,
.button:active,
.button:focus {
    background-color: #FF5400;
    border: 1px solid #FF5400;
    outline-color: #FF5400;
}
.home-screen {
    background-image: url("../images/Market.jpg");
    position: relative;
    height: 670px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.tint {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}
.home-text {
    color: #fff;
    font-size: 150px;
    text-align: center;
    font-family: Brandon;
    margin-bottom: -20px;
}
.slogan {
    color: #fff;
    font-size: 50px;
    text-align: center;
    font-family: Brandon;
    /*font-weight: bold;*/
}
.shop {
    font-family: Brandon;
    font-size: 20px;
    color: #ff5400;
}
.theater {
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
}
.stage {
    vertical-align: middle;
    display: table-cell;
}
.background-blue {
    background-color: #80CFFA;
    padding-top: 50px;
    padding-bottom: 50px;
}
.contact {
    font-size: 55px;
    font-family: Brandon;
    font-weight: bold;
}
.header-center {
    text-align: center;
}
.comments {
    width: 274px;
    font-family: Brandon;
    font-size: 25px;
}
.info {
    font-size: 30px;
    font-family: Brandon;
    padding-top: 5px;
    padding-bottom:25px;
    color: #000;
}
.login {
    font-size: 20px;
    font-family: Brandon;
    color: #FF5400;
}
.signup {
    font-size: 20px;
    font-family: Brandon;
    color: #FF5400;
}
.button-on-white {
    color: #000;

}
.navbar-width-color {
    background-color: #3d3d3d;
}
.custom,
.follow-us {
    text-align: center;
}
.follow-header {
    font-size: 55px;
    font-family: Brandon;
    font-weight: bold;
}
.social-network {
    height: 20px;
    width: 20px;
}
.links .social a img{
    margin-left: 5px;
    margin-right: 5px;
}
.footer {
    background-color: #fff;
    padding: 15px;
}
.social {
    text-align: center;
}
.custom {
    background-color: transparent;
    border: 1px solid #FF5400;
    font-size: 17px;
    color: #000;
}
.button:active,
.button:hover,
.button:focus {
    background-color: #FF5400;
    border: 1px solid #FF5400;
    outline-color: #FF5400;
}
.button:active,
.button:hover,
.button:focus {
    background-color: #FF5400;
    border: 1px solid #FF5400;
    outline-color: #FF5400;
}
.modal-backdrop{
  opacity: 0; transition:opacity .2s;
}
.modal-backdrop.in{
  opacity: 0.75;
}
.locationspage {
    background-image: url("../images/Locations.png");
    position: relative;
    height: 680px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: cover;
}
.locations-title {
    color: #fff;
    font-size: 150px;
    text-align: center;
    font-family: Brandon;
    margin-top: -100px;
    /*font-weight: bold;*/
}
.background-grey {
    background-color: #0e0e0e;
    padding-top: 120px;
    padding-bottom: 120px;
    display: cover;
    height: 100%;
    width: 100%;
}
.locationbags {
    height: 115px;
    width: 115px;
}
@font-face {
    font-family: BigJohn;
    src: url(../fonts/BigJohn.ttf);
}
@font-face {
    font-family: Bellaboo;
    src: url(../fonts/Bellaboo.ttf);
}
@font-face {
    font-family: Dinlight;
    src: url(../fonts/Dinlight.ttf);
}
@font-face {
    font-family: Brandon;
    src: url(../fonts/Brandon.ttf);
}
@media only screen and (max-width:767px){
    .navbar-custom a{
        color: #fff;
    }
    .navbar-custom a button{
        color: #fff;
    }
    .contact {
        text-align: center;
    }
    .form-group {
        text-align: center;
    }
    .toasty {
        text-align: center;
        padding-bottom: 25px;
    }
}
